* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* NavBar */
/* nav {
    width: 100vw;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 93px;
    padding: 8px 16px;

    @media only screen and (max-width: 853px) and (min-width: 800px) {
        .nav-container {
            margin: 0px;
            padding: 80px 106px;
        }
    }
}

.logo {
    .logo-name {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 3.5px;
        padding: 4px 0;
        color: #A80000;
    }
}

.menu-wrape {
    display: flex;
    align-items: center;

    .menu {
        display: flex;
        margin-right: 20px;

        li {
            list-style: none;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 18px;
            text-align: left;
            padding: 0px 10px;
            margin: 0px 20px;

            a {
                text-decoration: none;
                color: #575757;
            }
        }

        @media only screen and (max-width: 1024px) and (min-width: 800px) {
            li {
                padding: 0px;
                margin: 0px 10px;
            }
        }
    }

    .menu-btn {

        .btn-active {
            padding: 10px 20px;
            font-size: 12px;
            text-align: center;
            vertical-align: center;
            border-radius: 6px;
            background-color: #000;
            color: #fff;

            &.btn-active:hover {
                border: 1px solid #000;
                background-color: #fff;
                color: #000;
            }
        }

        .btn-inactive {
            padding: 10px 20px;
            font-size: 12px;
            text-align: center;
            vertical-align: center;
            border-radius: 6px;
            background-color: #ebebeb;
            color: #000;

            &.btn-inactive:hover {
                border: 1px solid #000;
                background-color: #fff;
                color: #000;
            }
        }
    }

} */

.nav-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 10px;
}

.logo {
    .logo-name {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 3.5px;
        padding: 4px 0;
        color: #A80000;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(225, 224, 224);
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #a9a9a9;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 425px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.menu-btn {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .btn-active {
        padding: 10px 20px;
        font-size: 12px;
        text-align: center;
        vertical-align: center;
        border-radius: 6px;
        background-color: #000;
        color: #fff;

        &.btn-active:hover {
            border: 1px solid #000;
            background-color: #fff;
            color: #000;
        }
    }

    .btn-inactive {
        padding: 10px 20px;
        font-size: 12px;
        text-align: center;
        vertical-align: center;
        border-radius: 6px;
        background-color: #ebebeb;
        color: #000;

        &.btn-inactive:hover {
            border: 1px solid #000;
            background-color: #fff;
            color: #000;
        }
    }
}

/* Hero Sectionn */

.hero {
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url(images/sec1Bg.06ddeb73.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 0px;

    h2 {
        text-align: center;
        color: #fff;
        margin: 0 10px;
        font-size: 16px;
    }

    p {
        text-align: center;
        color: #fff;
        margin: 0 10px;
        font-size: 12px;
        font-weight: 300;
    }

}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: #08395D;
    padding: 5px 20px;
    border-radius: 6px;
    margin: 0 10px;

    input {
        padding: 8px 20px;
        border-radius: 6px;
    }
}

.search-btn-active {
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
    border-radius: 6px;
    background-color: #A80000;
    color: #ffffff;
}

.search-bar-sec-1 {
    margin: 0 10px;

    .search-btn-active {
        padding: 10px 20px;
        font-size: 12px;
        text-align: center;
        vertical-align: center;
        border-radius: 6px;
        background-color: #0069D9;
        color: #ffffff;
    }
}

/* Advantage sectionn */
.advtg {
    width: 100vw;
    background-image: url(images/sec2BG.45011b27.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.advtg-container {
    width: 100%;

    h2{
        color: #fff;
        text-align: center;
        font-size: 16px;
    }
    h3{
        color: #fff;
        text-align: center;
        font-size: 14px;
    }
    p{
        color: #fff;
        font-size: 12px;
        font-weight: 300;
    }
    span{
        font-size: 14px;
    }
}
.advtgs-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .advtgs{
        display: flex;
        align-items:start;
        gap: 10px;
        color: #fff;
    }
}